* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #333;
}

.todos {
    border: 2px solid red;
    background: pink;
}

.App {
    border: 4px solid blue;
}

.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}
